@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

/* html  для Sticky footer*/

html {
 height: 100%;
 background-color: tomato;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  height: 100%;
  width: 1280px;
  margin: 0 auto;
}

.page-cotainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header*/

.page-header {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: block;
  width: 140px;
  margin-right: 30px;
}

.logo img {
  display: block;
}

.navigation {
  width: 890px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

}

.navigation-item {
  list-style-type: none;
  min-width: 44px;
  min-height: 64px;
  margin-bottom: 0;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 20px;
}

.search {
  background-image: url(../images/search-big.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.heart {
  background-image: url(../images/heart-big.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 15px;
}

.counter {
  vertical-align: super;
  font-size: 10px;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
}

/*Main*/

.main-container {
  flex-grow: 1;
}

.main-index {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
}

/*Hero блок в макете секция*/

.greeting {
  background-image: url(../images/index-background.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting-logo {
  padding-top: 51px;
  padding-bottom: 82px;
}

/*Advantages со списком приемуществ*/

.advantages {
  color:rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px auto 25px;
  width: 620px;
  padding-top: 69px;
  }

.advantages-discription {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 90px;
}

.advantages-list{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
}

.advantages-list-items {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  list-style-type: none;
  width: 400px;
}

.item-differences {
  display: flex;
  background-color: rgba(130, 179, 211, 1);
  color:rgba(255, 255, 255, 1) ;
  width: 1200px;
}

.item-wraper {
  width: 400px;
}


.advantages-list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto ;
  padding-top: 102px;
}

.advantages-list-discription {
  width: 230px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 102px;
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

/*Services секция*/

.services-list {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.services-items {
  list-style-type: none;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-items-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  width: 230px;
  margin: 0 auto;
  padding-top: 183px;
}

.services-items-discription {
  width: 230px;
  margin: 0 auto;
}

.services-list li:nth-child(2) {
  background-color: rgba(255, 255, 255, 1);
}

.housing {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.souvenirs {
  background-image: url(../images/gift.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

/*Booking секция*/

.booking {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 10px;
}

.booking-discription {
  width: 592px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 54px;
}

.booking-botton {
  display: block;
  padding-bottom: 96px;

}

/*Newsletter секция подписки */

.newsletter {
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(131, 179, 211, 0.2);
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 96px;
  padding-bottom: 10px;
}

.newsletter-description {
  width: 475px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 54px;
}

.newsletter-form {
  padding-bottom: 104px;
}

.field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/*Footer*/

.page-footer {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}

.social {
  width: 350px;
  padding: 0px;
  margin: 0px;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.social-item {
  width: 48px;
  height: 40px;
  list-style-type: none;
}

.social-icon {
  padding-top: 45px;
  padding-bottom: 35px;

}

.contacts {
  width: 360px;
}

.htmlacademy-logo {
  display: block;
  width: 350px ;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 35px;
}

.social-list li:nth-child(1) {
  background-image: url(../images/vk.svg);
  background-repeat: no-repeat;

}

.social-list li:nth-child(2) {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
}

.social-list li:nth-child(3) {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
}

.contacts-phone {
  display: block;
  width: 340px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  padding-top: 45px;
  padding-bottom: 35px;
  margin: 0 auto;
}


/*Catalog*/

/*main-inner*/

/*filter секция*/

.filter {
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.wraper-filter-title {
  width: 1060px;
  margin: 0 auto;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  padding-top: 35px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.filter-options {
  display: flex;
  justify-content:space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top:40px;
  padding-bottom: 70px;
}

.filter-options-group {
  padding: 0;
  margin: 0;

}

.filter-options-list {
  padding: 0;
  margin: 0;
}

.filter-options-title {
  text-align:start;
}

.filter-options-item {
  list-style-type: none;
  text-align:start;

}

.filter-options-button {
  display: flex;
  flex-flow: column;
}

.filter-options-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/*catalog-hotels секция*/

.catalog-hotels {
  background-color: rgba(255, 255, 255, 1);

}

.wraper-select {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}

.result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.page-view-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-view-list {
  list-style-type: none;

}

/*article  карточка гостиниц*/

.hotel-list-card {
  background-color: rgba(242, 242, 242, 1);
  width: 340px;
  border-color: grey;
}

.wraper-hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  gap: 20px;
}

.hotel-list-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.rating-hotel {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.hotel-list-link {
  text-decoration: none;
}

.hotel-list-title {
  font-size: 24;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  text-align: start;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: justify;
}

.wrap-list-price {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  padding-bottom: 16px;
}


/*Пагинация*/

.pagination {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  margin: 0 auto;
  padding:0;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 1060px;
  gap: 8px;
}

.pagination-item {
  list-style-type: none;
  max-width: 60px;

}

.pagination-link {
  text-decoration: none;
  padding: 12px 24px;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
}

/*Newsletter секция подписки*/

.newsletter-modify {
  background-image: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}
